.list {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 4fr;
  grid-template-areas:
    "title title"
    "form content"
    "list content";
}

.list__title {
  grid-area: title;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.list__container {
  display: flex;
  justify-content: space-around;
}

.list__container__item {
  grid-area: list;
}

.items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list__container__list {
  grid-area: content;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.title-group {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.list__container__input {
  display: flex;
  width: 50%;
}

.list__form {
  grid-area: form;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


/* header 
  header__title 

form 
  form__input 
  form__button 
  form__button--focus 
  
list 
  list__title 
  list__button 
  list__products 
  
cart 
  cart__product
  cart__buttons  */
